@charset "utf-8";

.excercise-card {
  /* background-color: red; */
  width: 300px;
  cursor: pointer;
}

.excercise-card img {
  /* width: 250px; */
  height: 200px;
  border-radius: 100px;
  z-index: -1;
}

.excercise-card .p-card {
  z-index: 1;
  display: block;
  position: relative;
  transition: 0.2s;
  width: 100%;
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: 13px 14px 7px -7px rgba(196, 161, 136, 0.44);
  -webkit-box-shadow: 13px 14px 7px -7px rgba(196, 161, 136, 0.44);
  -moz-box-shadow: 13px 14px 7px -7px rgba(196, 161, 136, 0.44);
}

.excercise-card .p-card-footer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* .excercise-card img:hover, */
.excercise-card .p-card:hover {
  /* opacity: 0.5; */
  cursor: pointer;
  outline: 5px solid #25add6;
}
