@charset "utf-8";

@media screen and (min-width: 1000px) {
  .home {
    padding-top: 20px;
    min-height: 100vh;
  }
  .excercise-board {
    /* width: 1200px; */
    margin-top: 50px;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 50px;
    row-gap: 70px;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

.home {
  padding-top: 20px;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  background-color: red;
}
