@charset "utf-8";

@media screen and (min-width: 800px) {
  .home {
    padding-top: 20px;
    min-height: 100vh;
    margin-left: 210px;
  }
  .excercise-board {
    /* width: 1200px; */
    margin-top: 50px;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 50px;
    row-gap: 70px;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
