@charset "utf-8";

.excercise-board {
  margin-top: 50px;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  column-gap: 50px;
  row-gap: 70px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .home {
    padding-top: 20px;
    min-height: 100vh;
  }

  .main {
    /* background-color: red; */
    margin-left: 220px;
    text-align: left;
    padding: 50px 0;
  }

  .main h2 {
    padding-left: 200px;
  }
  .main h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #000000;
    margin-top: 2px;
  }
}

.homes {
  padding-top: 20px;
  min-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}
