@charset "utf-8";

@media screen and (max-width: 1000px) {
  .indexPage {
  }

  .indexPage .index-inner {
    /* background-color: red; */
    /* height: 100vh; */
    /* max-width: 600px; */
    margin-left: auto;
    margin-right: auto;
  }

  .indexPage .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    justify-content: space-evenly;
  }

  .indexPage .login-des {
    max-width: 720px;
    width: 100%;
  }
}

.indexPage .welcom-side {
  width: 100%;
  /* height: 100vh; */
}

.indexPage .welcom-side {
  background-image: url(../excercise/fitness_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: fill;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexPage .login-side {
  /* background: rgba(144, 19, 254, 0.5); */
  background: #c1c2c4;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.indexPage .index-inner {
  height: 100vh;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.indexPage Button {
  width: 80%;
}

.indexPage .index-inner .login-form {
  display: flex;
  justify-content: space-evenly;
  /* align-items: flex-start; */
}

.indexPage .login-logo {
  background-color: blue;
}

.indexPage img {
  width: 360px;
  /* height: 200px; */
}

.main-slogan {
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 80%;
  height: 25%;
  margin-top: 50%;
}

.main-slogan h1 {
  font-family: "Caramel", cursive;
  text-shadow: 1px 5px 1px #4b2c14;
  font-size: 100px;
}
.main-slogan p {
  text-align: justify;
  font-size: 1.3rem;
  margin: 0 20px;
}

.indexPage .index-inner .login-card {
  width: 80%;
  min-height: 500px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
}

.indexPage .p-card {
  background: whitesmoke;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.indexPage .index-inner .login-card .input {
  text-align: center;
  /* margin-top: 5px; */
  width: 80%;
  margin: 20px auto;
}

.social-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px auto;
}

.sign-in-button,
.google-button {
  margin-top: 20px;
  text-align: center;
}

img.google-logo {
  width: 50px;
  height: auto;
}

.login-card-footer {
  color: black;
  font-style: italic;
}

.login-card-footer .register {
  cursor: pointer;
  color: blue;
  font-style: italic;
}

.login-card-footer .register::after {
  content: "";
}

.login-card-footer .register:hover {
  cursor: pointer;
  color: lightblue;
}

.sign-in-button .p-button {
  background-color: #4f535e;
  color: whitesmoke;
  border: 0px solid rgba(105, 105, 125, 0.4);
}

.sign-in-button .p-button:hover {
  background-color: #25add6;
  color: whitesmoke;
}

.google-button .p-button {
  border: 1px solid rgba(105, 105, 125, 0.4);
  background-color: whitesmoke;
  color: #525963;
}

.google-button .p-button:hover {
  background-color: #25add6;
  border: 1px solid transparent;
}

.p-button {
  border-radius: 20px;
}

.p-button-label {
  font-size: 1.2rem;
}

.welcome-message {
  color: gray;
  font-style: italic;
}
