@charset "utf-8";

@media screen and (max-width: 1000px) {
  .toggle-menu {
    /* background-color: orange; */
    position: fixed;
    margin: 0;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
  }

  nav {
    /* color: red; */
    z-index: 10;
    position: fixed;
    margin: 0;
    width: 200px;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: orange; */
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: none;
  }
  .toggle-bar {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-logo {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .site-title {
    color: #5b7985;
    font-size: 50px;
    line-height: 25px;
    font-family: "Caramel", cursive;
    /* background-color: red; */
  }

  .toggle-menu {
    /* background-color: orange; */
    position: fixed;
    margin: 0;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: none;
  }

  nav {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .toggle-bar {
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

nav .p-menu {
  /* margin: 0; */
  top: 30px;
  position: relative;
  left: 0;
  height: 100%;
  width: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border-width: 0px;
  /* text-align: left; */
}

nav .p-menuitem {
  color: red;
}

nav .p-menuitem-content {
  margin-bottom: 10px;
}

nav .p-menu-list {
  width: 100%;
  position: absolute;
  height: 90%;
  top: 0;
  left: 0;
}

nav .p-menuitem:hover {
}

nav .log-out-button {
  margin-right: 10px;
  /* font-size: 2rem; */
  /* color: chartreuse; */
}

.profile {
  cursor: pointer;
  margin-top: 55px;
  width: 180px;
  /* height: 280px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #101329;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.profile .trophies-icon {
  width: 40px;
}

.profile .trophies {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.profile .p-avatar-image {
  width: 120px;
  height: 120px;
  /* width: 100%; */
}

.sidebar-profile {
  /* background-color: red; */
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.sidebar-profile .display-name {
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

.display-name p {
  color: gray;
  font-style: italic;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.sidebar-items-container {
  display: flex;
  cursor: pointer;
  height: 40px;
  align-items: center;
  padding: 10px;
  /* justify-content: center; */
}

.sidebar-items-container:hover {
  background-color: #e9ecef;
}

.sidebar-item-label {
  color: #2c3e50;
  font-weight: bold;
  margin-left: 15px;
  font-size: 1.2rem;
}

.p-sidebar {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
}

.sidebar-profile-info {
  background-color: red;
}

.sidebar-logout-button {
  position: absolute;
  bottom: 0;
  left: 25%;
}

.sidebar {
  height: calc(100vh - 100px);
}

.p-sidebar {
  /* position: relative; */
}
