@charset "utf-8";

@media screen and (max-width: 1000px) {
  .toggle-menu {
    /* background-color: orange; */
    position: fixed;
    margin: 0;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }

  nav {
    /* color: red; */
    position: fixed;
    margin: 0;
    width: 200px;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: orange; */
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: none;
  }
  .toggle-bar {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .site-logo {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .site-title {
    color: #5b7985;
    font-size: 50px;
    line-height: 25px;
    font-family: "Caramel", cursive;
    /* background-color: red; */
  }

  .toggle-menu {
    /* background-color: orange; */
    position: fixed;
    margin: 0;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: none;
  }

  nav {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .toggle-bar {
    margin: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

nav .p-menu {
  /* margin: 0; */
  top: 30px;
  position: relative;
  left: 0;
  height: 100%;
  width: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border-width: 0px;
  /* text-align: left; */
}

nav .p-menuitem {
  color: red;
}

nav .p-menuitem-content {
  margin-bottom: 10px;
}

nav .p-menu-list {
  width: 100%;
  position: absolute;
  height: 90%;
  top: 0;
  left: 0;
}

nav .p-menuitem:hover {
}

nav .log-out-button {
  margin-right: 10px;
  /* font-size: 2rem; */
  /* color: chartreuse; */
}

.profile {
  cursor: pointer;
  margin-top: 55px;
  width: 180px;
  /* height: 280px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #101329;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.profile .trophies-icon {
  width: 40px;
}

.profile .trophies {
  margin: 10px;
  display: flex;
  gap: 10px;
}

.profile .p-avatar-image {
  width: 120px;
  height: 120px;
  /* width: 100%; */
}
