@charset "utf-8";

.profile-page {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
}



.profile-inner {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  padding: 10px;
  margin-bottom: 20px;
}




.profile-inner img {
  width: 200px;
}

.profile-inner .profile-progress {
  border-radius: 10px;
  background-color: rgba(244, 244, 244, 0.95);
}

.profile-inner .p-card {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.95);
  padding: 10px;
  margin: 5px 0;
  /* height: 50px; */
}

.profile-inner .tmp .p-progressbar-value {
  background-color: red;
}

.profile-inner .tmp2 .p-progressbar-value {
  background-color: green;
}

.profile-inner .profile-badges{
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  gap: 20px
}

.profile-inner .user-rank{
  color: gray;
  font-style: italic;
}


.profile-progress {
  /* width: 100%; */
}

.week-chart-container {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px 20px 50px 20px;
  height: 40vh;
  /* height: 380px; */
  height: 300px;
  position: relative;
  /* width: calc(100% - 40px); */
  /* overflow: hidden; */
}

.week-chart-container .week-chart {
  display: block;
  position: relative;
  height: 100%;
}

h2 {
  text-align: left;
}

h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: whitesmoke;
  margin-top: 2px;
  margin-left: 10px;
}
