@charset "utf-8";

.home {
  height: 100vh;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
}

.quiz-area {
  max-width: 1000px;
}

.quiz-card {
  margin: 20px 0;
  /* background-color: red; */
  min-height: 200px;
  width: 500px;
}

.quiz-header {
  /* background-color: blue; */
}

.quiz-answers {
  /* background-color: yellowgreen; */
  margin-top: 10px;
  max-width: 400px;
  margin: 5px auto;
  text-align: left;
}

.p-button-text {
  color: red;
}

.p-togglebutton {
  font-size: x-large;
  margin-top: 10px;
}
.quiz-indvidual-answer {
  margin-top: 10px;
}

.quiz-question::after {
  content: "";
  display: block;
  height: 3px;
  width: 50%;
  border-bottom: 1.5px gray dashed;
  margin: 5px auto;
  /* background-color: orange; */
}
.p-fieldset {
  border-radius: 10px;
}
.p-fieldset-toggleable {
  /* background-color: blue; */
}
.p-fieldset-legend {
}
.p-fieldset-content {
}
